@import "../../../assets/styles/form.scss";

.remember-me {
  font-size: 15px;
  font-weight: 400;
}

.forgot-password-link {
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0.7rem;
}
