<app-sidebar></app-sidebar>
<div class="container1">
  <div class="subnmenu-container" style="opacity: 1;">
    <div class="subnmenu-body">
      <div class="submenu-header">
        <div class="submenu-heading"><span>Order Summary</span></div>
        <div class="submenu-sub-heading"><span></span></div>
      </div>
      <div class="submenu-list-coloum">
        <div class="delivery-header">
          <span>          
            Order summary with order shipping details goes here  
          </span>
        </div>
        <div class="delivery-div">

        </div>
        <div class="totalDiv">
          <div class="continue-btn" (click)="completeTransaction()"><span>Finish</span></div>
         </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
